* {
    text-align: center;
    font-family: Courier, monospace;
}

html {
    height:100vh;
}

.body {    
    background-image: url("../images/dark-tire-1920x1080.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: auto;
    text-align: center;
}

.container {
    align-content: center;
}

.input-title {
    text-align: center;
    font-size: 18px;
    color: #4f5e86;
    font-weight: bold;
}

.input {
    width: 65%;
    text-align: center;
    font-size: 36px;
    color: #4F5E86;
    padding: 2px;
    border: solid 2px #4F5E86;
}

.result-container {
    margin: 50px auto 0;
    width: 100% auto;
    font-size: 36px;
    color: #f1f2f4;
    text-align: center;
    background: #4F5E86;
    line-height: 1.15;
    border: none;
    border-radius: 15px;
    padding: 3%;
}

.result-container .title {
    color: #f1f2f4;
}

#result {
    font-size: 44px;
    text-align: center;
    white-space:pre;
}

#car-input {
    background-color: #4F5E86;
    border: none;
    color: #f1f2f4;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

#car-input:hover {
    background-color: #f1f2f4;
    color: #4F5E86;
}

.battleShipLink {
    width: auto;
    background-color: #4F5E86;
    border: none;
    color: #f1f2f4;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

.battleshipLink {
    background-color: aquamarine;
    padding: 5px;
}

a:hover {
  color: gray;
  text-decoration: none; 

}

a {
  text-decoration: none; 
  color: black; 
}
