* {
    text-align: center;
}

html {
    height:100vh;
}

.body {
    background-color: #92cadb;
    background-image: url("../images/little-pluses.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: auto;
    text-align: center;
}

.container {
    align-content: center;
}

#title, #badge {
    background-color: rgba(0,0,0,0.15);
    color: white;
    border: 2px solid black;
    border-radius: 12px;
    margin: 2%;
    padding: 1%;
}

.btn {
    background-color: rgba(0,0,0,0.15);
    color: white;
    border: 2px solid black;
    border-radius: 12px;
    font-size: 1.4em;
}

.btn:hover {
    color: lightgray;
}

.dropdown-menu {
    background-color: rgba(0,0,0,0.15);
}

a.dropdown-item {
    color: white;
    background-color: rgba(0,0,0,0.15);
}

a.dropdown-item:hover {
    color: black;
}

a.dropdown-item:active {
    background-color: gainsboro;
    color: black;
}

h2 {
    padding: 1%;
    margin: 1%;
}