* {
    text-align: center;
    font-family: 'Chewy', cursive;
    font-size: 22px;
}

html {
    height:100vh;
}

.body {    
    background-image: url("../images/light-wool-1920x1080.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: auto;
    text-align: center;
}

.player-help {    
    min-width: 100%;
}

.game-info {
    height: auto;
    min-height: 60%;
}

span, .player-num {
    font-size: 1.0em;
}

.title {
    font-size: 1.8em;
}

.player-num {
    font-size: 1.4em;
}

#roll {
    min-height: 120px;
    min-width: 120px;
    padding: 0;
    border: none;
    background-color: #bce4fd;
}

img {
    padding: 0;
    border: none;
}

.homeLink {
    background-color: #bce4fd;
    padding: 2px 10px;
    margin: 2%;
    border-radius: 10px;
}

a:hover {
    color: #484848;
    text-decoration: none; 
  }

a {
    text-decoration: none; 
    color: black; 
}

.replay-button, .btn {
    padding: 2px 10px;
    text-align: center;
    color: black;
    background-color:#bce4fd;
    margin: 2%;
    border-radius: 10px;
}

.replay-button:hover {
    color: #484848;
}