* {
    text-align: center;
    font-family: 'Chewy', cursive;
    font-size: 22px;
}

html {
    height:100vh;
}

.body {
    
    background-image: url("../images/backgroundSnakesFiltered.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: auto;
    text-align: center;
}

.game-info {
    height: auto;
    min-height: 60%;
}

/* #roll-title, #roll-message, #roll-jump {
    font-size: .8em;
}

#roll-result {
    font-size: .8em;
} */

.title {
    font-size: 1.8em;
}

#player-num {
    font-size: 1.4em;
}

#roll {
    min-height: 120px;
    min-width: 120px;
    padding: 0;
    border: none;
    background-color: #bce4fd;
}

img {
    padding: 0;
    border: none;
}

.homeLink {
    background-color: #bce4fd;
    padding: 5px;
}

a:hover {
    color: gray;
    text-decoration: none; 
  }

a {
    text-decoration: none; 
    color: black; 
}