* {
    text-align: center;
    font-family: 'Life Savers', cursive;
    font-size: 22px;
}

html {
    height:100vh;
}

.body {    
    background-image: url("../images/winter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: auto;
    text-align: center;
}